* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family:Calibri;
}

@charset "UTF-8";

@import "b3/b3";

@import "views/mainwork";